package ${cfg.root_package}.config;



import  ${cfg.rpc_proto_package}.${entity}ServiceGrpc;
import ${cfg.rpc_proto_package}.${entity}ServiceGrpc.${entity}ServiceBlockingStub;
import cn.vpclub.spring.boot.grpc.annotations.GRpcClient;
import io.grpc.ManagedChannel;
import org.springframework.boot.autoconfigure.EnableAutoConfiguration;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;


/**
 * <p>
 * $!{table.comment} rpc server连接配置
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

@Configuration
@EnableAutoConfiguration
public class  ${entity}GrpcConfiguration  {
    @GRpcClient("${cfg.rpc_provider_config}")
    private  ManagedChannel channel;

    @Bean
    public ${entity}ServiceBlockingStub created${entity}ServiceBlockingStub() {
        return ${entity}ServiceGrpc.newBlockingStub(channel);
    }
}
